@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        -- Typography (Headlines, Paragraphs, Lists, Anchors)
                
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        -- Grouped
        -- Nav
        -- Hero
        -- Home
        -- About
        -- Take Action
        -- Footer
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Screen Reader
--------------------------------------------------------------*/









/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
*, 
*:after, 
*:before {
       

        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
html {                  
        color: #000;
        font-size: 1.2rem;
}
@media screen and (min-width:768px){
      
}
@media screen and (min-width:1024px){
        
}


/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */







/* ----- TYPOGRAPHY ----- */ 
h1 {
        font: 2rem 'Roboto', sans-serif;
        color: #F2EED5;
        text-align: center;
}
h2 {
        font: 1.5rem 'Oleo Script Swash Caps', cursive;
        color: #862323;
        margin-top: 0;      
}
h3 {
        font: 1.1rem 'Roboto', sans-serif;
        color: #638238;
        margin-bottom: .5em;
}
p {
        font: 1rem 'Roboto Slab', serif;
        margin: 0;
        color: #F2EED5;
}
span {
        font-family: 'Inter', sans-serif;
        font-style: italic;
}
ul {
        margin: 0;
        padding-left: 0;
        text-align: right;
}
footer ul,
main,
h1 + P {
        text-align: center;
}





@media screen and (min-width:768px){
        main,
        footer ul,
        h1,
        h1 + P{
                text-align: left;
        }
       
}
@media screen and (min-width:1024px){
      
}



/* ----- ANCHOR ----- */

a {
        font: .8rem 'Roboto Slab', serif;
        color: #D1AB54;
        text-decoration: none;
        
}

.btn {
        background-color: #482822;
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 5px 25px;
        color: #fff;
}
.btn:hover {
        background-color: #862323;
}


/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */
.wrapper {
        width: 95%;
        margin: 0 auto;
}
.row {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
}
.img-responsive {
        max-width: 100%;
}
[class*="col-"] {
        padding: .5em .5em ;
}
[class*="col-"] [class*="col-"] {
        margin-left: -.5em;
        margin-right: -.5em;
}


.col-sm-1 {
        width: calc(100% * 1 /12);
}
.col-sm-2 {
        width: calc(100% * 2 /12);
}
.col-sm-3 {
        width: calc(100% * 3 /12);
}
.col-sm-4 {
        width: calc(100% * 4 /12);
}
.col-sm-5 {
        width: calc(100% * 5 /12);
}
.col-sm-6 {
        width: calc(100% * 6 /12);
}
.col-sm-7 {
        width: calc(100% * 7 /12);
}
.col-sm-8 {
        width: calc(100% * 8 /12);
}
.col-sm-9 {
        width: calc(100% * 9 /12);
}
.col-sm-10 {
        width: calc(100% * 10 /12);
}
.col-sm-11 {
        width: calc(100% * 11 /12);
}
.col-sm-12 {
        width: calc(100% * 12 /12);
}

@media screen and (min-width:768px) {
        .wrapper {
                width: 80%;
        }
        [class*='col-'] {
                padding: 10px;
        }
       
       

        .col-md-1 {
                width: calc(100% * 1 /12);
        }
        .col-md-2 {
                width: calc(100% * 2 /12);
        }
        .col-md-3 {
                width: calc(100% * 3 /12);
        }
        .col-md-4 {
                width: calc(100% * 4 /12);
        }
        .col-md-5 {
                width: calc(100% * 5 /12);
        }
        .col-md-6 {
                width: calc(100% * 6 /12);
        }
        .col-md-7 {
                width: calc(100% * 7 /12);
        }
        .col-md-8 {
                width: calc(100% * 8 /12);
        }
        .col-md-9 {
                width: calc(100% * 9 /12);
        }
        .col-md-10 {
                width: calc(100% * 10 /12);
        }
        .col-md-11 {
                width: calc(100% * 11 /12);
        }
        .col-md-12 {
                width: calc(100% * 12 /12);
        }
}

@media screen and (min-width:1024px) {
        .wrapper {
                width: 80%;
        }

        .col-lg-1 {
                width: calc(100% * 1 /12);
        }
        .col-lg-2 {
                width: calc(100% * 2 /12);
        }
        .col-lg-3 {
                width: calc(100% * 3 /12);
        }
        .col-lg-4 {
                width: calc(100% * 4 /12);
        }
        .col-lg-5 {
                width: calc(100% * 5 /12);
        }
        .col-lg-6 {
                width: calc(100% * 6 /12);
        }
        .col-lg-7 {
                width: calc(100% * 7 /12);
        }
        .col-lg-8 {
                width: calc(100% * 8 /12);
        }
        .col-lg-9 {
                width: calc(100% * 9 /12);
        }
        .col-lg-10 {
                width: calc(100% * 10 /12);
        }
        .col-lg-11 {
                width: calc(100% * 11 /12);
        }
        .col-lg-12 {
                width: calc(100% * 12 /12);
        }

}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */


main > div:first-child{
        background-color: #638238;
}

main > .row:first-child { /* events page */
        background-color: #FFF;
}


main > section:nth-child(2) p {
        color: #638238;
}
main >section:first-child {
        margin-top: 2em;
}
@media screen and (min-width:768px) {
        
       
        main > section:nth-child(2) .bg-lamps + .wrapper {
                text-align: center;
        }

        .delete ul i {
                display: none;
        }
}
@media screen and (min-width:1024px) {
        
}


.yellow-bg {
        background-color: #D1AB54;
        display: inline-block;
}

.pos-fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 71;
}

/* ----- Grouped ----- */


@media screen and (min-width:768px) {
       
        
}
@media screen and (min-width:1024px) {
     
}


/* ----- NAV ----- */
li a{
        display: inline-block;
}
nav li {
        text-align: center;
        color: #fff;
}
nav a {
        width: 100%;
        color: #fff;
}




@media screen and (min-width:768px) {
           
}
@media screen and (min-width:1024px) {
        
}

/* ----- Carousel ----- */

/* ----- slideshow stylings ----- */
.slideshow {
height: 100%;
overflow: hidden; 
position: relative;
padding-bottom: 2em;

}

.slideshow-wrapper {
display: flex;
width: 400%;
height: 100%;
position: relative;
animation: slideshow 30s infinite;

}
.slide {
width: 100%;
height: 100%;

}
.slide-img {
width: 100%;
height: 100%;
object-fit: cover; 

}

@keyframes slideshow {
0%  { left: 0; }
10% { left: 0; }
15% { left: -100%; }
25% { left: -100%; }
30% { left: -200%; }
40% { left: -200%; }
45% { left: -300%; }
55% { left: -300%; }
60% { left: -200%; }
70% { left: -200%; }
75% { left: -100%; }
85% { left: -100%; }
90% { left: 0%; }
}

        /* ----- carousel control buttons stylings ----- */
.slide-btn {
background-color: #638238;
border-radius: 50%;
border: .2rem solid #fff;
width: 1.2rem;
height: 1.2rem;
outline: none;
        /* stylings for positioning the buttons at
        the bottom of the carousel */
position: absolute;
bottom: 0px;
left: 50%;
transform: translateX(-50%);
z-index: 70;
}
        /* Button positions */
.slide-btn-1 {
left: 35%;
}
.slide-btn-2 {
left: 45%;
}
.slide-btn-3 {
left: 55%;
}
.slide-btn-4 {
left: 65%;
}   
 


.slide-btn-1:focus~.slideshow-wrapper {
animation: none;
left: 0;
}
.slide-btn-2:focus~.slideshow-wrapper {
animation: none;
left: -100%;
}
.slide-btn-3:focus~.slideshow-wrapper {
animation: none;
left: -200%;
}
.slide-btn-4:focus~.slideshow-wrapper {
animation: none;
left: -300%;
}
.slide-btn:focus {
background-color: #D1AB54;
}
.carousel {
        margin-top: 3em;
}
@media screen and (min-width:768px) {
        .carousel {
                margin: 4em auto 4em auto;
        }
 
}
@media screen and (min-width:1024px) {
        .slide-btn {
                display: none;
                
        }
        .slideshow-wrapper {
                width: 100%;
                animation: none;
                position: static;
                display: flex;
                justify-content: space-between;
                flex-flow: wrap;
        }
        .slide,
        .slideshow {
                display: contents;
        }
        .carousel h2 {
                text-align: center;
        }

}


/* ----- lamps-bg ----- */

.bg-lamps ~ p:last-child {
        padding-bottom: 2em;
        margin-top: 1em;
}
.bg-lamps + header {
        margin: 2em 0em 1em 0em;
}





@media screen and (min-width:768px) {
 
}
@media screen and (min-width:1024px) {
        
}
/* ----- vert-card ----- */

.vert-card {
        color: #F2EED5;
        text-align: center;
}
.vert-card h2 {
        color: #000;
}
.vert-card p:last-child {
        margin: 2em 0em 3em 0em;
}
.vert-card:first-child {
        margin-top: 2em;
}
.col-center > .vert-card:first-child div {
        background: url(../img/Pizza-whole-bg@2x.jpg);
        -o-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        padding: 70px;
        border-radius: 80%;
        margin: 0 auto;
        
        
}
.col-center > .vert-card:nth-child(2) div{
        background: url(../img/pasta-bg.jpg);
        -o-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        padding: 70px;
        border-radius: 80%;
        margin: 0 auto;
        
}
.col-center > .vert-card:last-child div {
        background: url(../img/event-bg.jpg);
        -o-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        padding: 70px;
        border-radius: 80%;
        margin: 0 auto;       
}
.vert-card header {
        margin-top: .5em;
}


@media screen and (min-width:768px) {

}
@media screen and (min-width:1024px) {
        .vert-card,
        .vert-card:first-child {
                margin-top: 4em;
        } 
}


/* ----- event-card ----- */


.event-card,
.event-card p {
        color: #638238;
        text-align: left;
}
.event-card header p, 
.event-card span{
        font-style: italic;
        font-family: 'Inter', sans-serif;
}
.event-card section > p:last-child,
.event-card > p:last-child {
        margin: .6em 0em 2em 0em;
}
.bg-lamps .event-card,
.bg-lamps .event-card p,
.flex-end > .event-card,
.flex-end > .event-card p {
        text-align: center;
}
.event-card h2 {
        color: #000;
        margin-top: 2em;
}
.event-card h3 {
        font-weight: 500;
}
.event-card section > p:nth-child(2) {
        margin-top: .8em;
}


@media screen and (min-width:768px) {
        .bg-lamps .event-card,
        .bg-lamps .event-card p,
        .flex-end > .event-card,
        .flex-end > .event-card p{
        text-align: left;
}
}
@media screen and (min-width:1024px) {
        
}

/* ----- hero ----- */
header > div:first-child {
        background-color: #638238;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 71;
}
header li {
        list-style-type: none;
        display: inline-block;
}
header p:first-child > a {
        font-family: 'Oleo Script Swash Caps', cursive;
        font-size: 1.2rem;
        color: #F2EED5;
}
#bg-pizza-hero {
        background: url(../img/Pizza-whole-bg@2x.jpg) no-repeat center;
        -o-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        padding: 70px 0px;
        
}
.bg-lamps:before {
        background: url(../img/dinning-lamps-bg.jpg) no-repeat center;
        -o-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        height: 300px;
        width: 100%;
       
        
}
.bg-room:before {
        background: url(../img/dinning-room-table-bg.jpg) no-repeat center;
        -o-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        height: 300px;
        width: 100%;
}
.bg-room:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
}

.bg-lamps::before {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
}
.bg-room,
.bg-lamps {
        position: relative;
        top: 0;
        left: 0;
        background-color: #F2EED5;
        padding-top: 300px;
}
@media screen and (min-width:768px) {
        .bg-room,
        .bg-lamps {
                padding-top: 0px;
        }
}
@media screen and (min-width:1024px) {
        #bg-pizza-hero {
                padding: 140px 0px;
        }
        
        .bg-room:before {
                height: 100%;
                width: 50%;
        }
        .bg-lamps:before {
                width: 50%;
                height: 100%;
        }
        .bg-lamps {
                height: 400px;
        }
}


/* ----- Footer ----- */

footer {
        background-color: #638238;
        text-align: center;
        padding: 30px;
        color: #fff;
        padding-bottom: 5em;
        
}
footer li {
        list-style-type: none;
        font: 1rem 'Roboto Slab', serif;
}
footer p,
footer a {
        font: 1rem 'Roboto Slab', serif;
        color: #F2EED5;
}
@media screen and (min-width:768px) {
        footer {
                background-color: #D1AB54;
                text-align: left;
        
        }
        footer p,
        footer a {
                color: #fff;
        }
}
@media screen and (min-width:1024px) {
      footer li {
        text-align: left;
      }
        
}
    
/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */
/* ----- content ----- */
.col-center {
       justify-content: center;
}
.margin {
        margin: 0 auto;
}
.flex-end {
        justify-content: flex-end;
}

@media screen and (min-width:768px) {
        .delete {
                display: contents;
        }
}


 